body {
    font: normal 14px courier;
    width: 500px; 
    hyphens: auto;
    margin:0 auto;
}

a:link {
    color: DarkCyan;
}

/* visited link */
a:visited {
    color: MidnightBlue;
}
 
/* mouse over link */
a:hover {
    color: Olive;
}

/* selected link */
a:active {
    color: DarkTurquoise;
}